*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

html,body{
    height: 100%;
}

body{
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(#22c1c3 0%, #dfdfdf 100%);
    overflow-x: hidden;
}

input{
    outline: none; /*enleve le surlignage du focus sur les input*/
}

.form{
    display: flex;
    justify-content: space-around;
    height: 8vh;
    margin-bottom: 3vh;
}

.champ,
.btnAjouter{
    border-radius: 5px;
    border: 2px solid teal;
    font-size: 7vw;
}

.champ{
    width: 82vw;
    background-color: #9fc6c7;
    padding-left: 1vw;
}

.btnAjouter{
    width: 17vw;
    background-color: #8add92;
    color: teal;

    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
}

.btnAjouter:active{
    background-color: #60ff60;
} 

ol{
    list-style: none;
    counter-reset: my-awesome-counter;
    padding-left: 1vw;
    padding-right: 1vw;
}

li{
    counter-increment: my-awesome-counter;
    text-transform: capitalize;
    background-color: #7bc7c8;
    color:teal;
    border-radius: 5px;
    margin-bottom: 2px;
    font-size: 6vw;
    display: flex;
    align-items: center; /*permet le centrage des options*/
}

li::before {
    content: counter(my-awesome-counter) "~ "; /*permet de modifier le separateur */
    color:#5a7c81;
}

.texte{
    display: inline-block; /*permet de mettre un width*/
    width: 78vw;
    word-wrap: break-word; /*permet le retour à la ligne*/
}

.spanOpt{
    flex: auto;
    display: flex;
    justify-content: flex-end;
}

.delete, 
.urgent{
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    cursor: pointer;
}

.delete:hover, 
.urgent:hover{
    transform: rotate(360deg);
}

.material-icons.md-24 { 
    font-size: 6vw;
}

.delete{color: orangered;}
.urgent{color: gray;}
.gold{color: gold;}

.noTache{
    font-style: italic;
    font-size: 6vw;
    margin-left: 1vw;
}

.installBtn{
    position: absolute;
    bottom: 0;
    left: -100%;
    height: 8vh;
    width: 100%;
    border: none;
    outline: none;
    background-color: teal;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
  }

  .slide{
    transform: translateX(100%);
  }


/* Media Queries */
@media screen and (min-width: 700px)
{    
    .champ,
    .btnAjouter{
        font-size: 2.5rem;
    }

    .noTache,
    .material-icons.md-24,
    li{
        font-size: 2rem;
    }

    .installBtn{
        height: 35px;
    }
}

